# Final, completely relaxed list of dependencies for PIMS + QPTIFF plugin
aiofiles
celery
# cytomine-python-client - This will be pulled in by PIMS if needed, let's simplify
fastapi[standard]
fastapi-utils
geojson
gunicorn
importlib-metadata
lxml
matplotlib
numpy
orjson
pathvalidate
pillow
pint
pydantic
pydantic-extra-types
pydantic-settings
pydicom
pylibjpeg
python-dateutil
python-multipart
pyvips
pyyaml
rasterio
redis[hiredis]
scikit-image
shapely
tifffile
tifftools
typing-inspect
uvicorn[standard]
zarr
cachecontrol
requests
requests-toolbelt
urllib3
czifile
